$black: #000;
$coal: #212121;
$blue: #0d47a1;
$blue-light: #2196f3;
$blue-secondary: #2962ff;
$white: #fff;
$gray: #bdbdbd;
$gray-dark: #616161;
$red: #b71c1c;
$azure: #64b5f6;
$yellow: #fff59d;
$gray-backdrop: RGB(97 97 97 / 0.7);
$blue-shadow: RGB(13 72 160 / 0.9);

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Sansita Swashed", cursive;

$font-size-100: 13px;
$font-size-200: 16px;
$font-size-300: 18px;
$font-size-400: 20px;
$font-size-500: 24px;
$font-size-600: 26px;
$font-size-700: 28px;

$border-radius: 4px;
