.header {
  color: $white;

  background-color: $blue;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 18px 0;

  font-family: $secondary-font;
  font-size: $font-size-500;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__user,
.header__icon {
  margin: 0 12px;
}

.header__icon {
  font-size: $font-size-600;
}

.header__user {
  font-size: $font-size-300;
  font-weight: 500;
}
